In [94]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as pp
import seaborn
import scipy
#import pyspark
#from pyspark import SparkContext
import xlrd
import datetime as dt
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder as le
import csv

path = r'/home/conda/Downloads/bank-additional/bank-additional/bank-additional-full.csv'

#with open(path, 'rt') as csvfile:
    #readCSV = csv.reader(csvfile, delimiter=';')
    #header=next(readCSV)
    #b=[]
    #df=pd.DataFrame()
    #for i in readCSV:
        #a=",".join(i)
        #c=i.split(",")
        #a.append(a)
        ##b.append(i)
        #print(b)
csv=pd.read_csv(path,delimiter=';')                
df=pd.DataFrame(csv,columns=header)
#df
#readCSV.type()
#df=csv_read

In [95]:
df.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [93]:
#df[df.dtypes[(df.dtypes=='int64')].index.values]
#numdf=df.loc[:,((df.dtypes=='float64') | (df.dtypes=='int64'))]
#df=numdf.drop(['campaign','pdays','previous'],axis=1)

,age,duration,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
0,56,261,1.1,93.994,-36.4,4.857,5191.0
1,57,149,1.1,93.994,-36.4,4.857,5191.0
2,37,226,1.1,93.994,-36.4,4.857,5191.0
3,40,151,1.1,93.994,-36.4,4.857,5191.0
4,56,307,1.1,93.994,-36.4,4.857,5191.0
5,45,198,1.1,93.994,-36.4,4.857,5191.0
6,59,139,1.1,93.994,-36.4,4.857,5191.0
7,41,217,1.1,93.994,-36.4,4.857,5191.0
8,24,380,1.1,93.994,-36.4,4.857,5191.0
9,25,50,1.1,93.994,-36.4,4.857,5191.0
10,41,55,1.1,93.994,-36.4,4.857,5191.0
11,25,222,1.1,93.994,-36.4,4.857,5191.0
12,29,137,1.1,93.994,-36.4,4.857,5191.0
13,57,293,1.1,93.994,-36.4,4.857,5191.0
14,35,146,1.1,93.994,-36.4,4.857,5191.0
15,54,174,1.1,93.994,-36.4,4.857,5191.0
16,35,312,1.1,93.994,-36.4,4.857,5191.0
17,46,440,1.1,93.994,-36.4,4.857,5191.0
18,50,353,1.1,93.994,-36.4,4.857,5191.0
19,39,195,1.1,93.994,-36.4,4.857,5191.0
20,30,38,1.1,93.994,-36.4,4.857,5191.0
21,55,262,1.1,93.994,-36.4,4.857,5191.0
22,55,342,1.1,93.994,-36.4,4.857,5191.0
23,41,181,1.1,93.994,-36.4,4.857,5191.0
24,37,172,1.1,93.994,-36.4,4.857,5191.0
25,35,99,1.1,93.994,-36.4,4.857,5191.0
26,59,93,1.1,93.994,-36.4,4.857,5191.0
27,39,233,1.1,93.994,-36.4,4.857,5191.0
28,54,255,1.1,93.994,-36.4,4.857,5191.0
29,55,362,1.1,93.994,-36.4,4.857,5191.0
...,...,...,...,...,...,...,...
41158,35,363,-1.1,94.767,-50.8,1.035,4963.6
41159,35,514,-1.1,94.767,-50.8,1.035,4963.6
41160,33,843,-1.1,94.767,-50.8,1.035,4963.6
41161,33,510,-1.1,94.767,-50.8,1.035,4963.6
41162,60,347,-1.1,94.767,-50.8,1.035,4963.6
41163,35,385,-1.1,94.767,-50.8,1.035,4963.6
41164,54,1868,-1.1,94.767,-50.8,1.035,4963.6
41165,38,403,-1.1,94.767,-50.8,1.030,4963.6
41166,32,651,-1.1,94.767,-50.8,1.030,4963.6
41167,32,236,-1.1,94.767,-50.8,1.030,4963.6
41168,38,144,-1.1,94.767,-50.8,1.030,4963.6
41169,62,154,-1.1,94.767,-50.8,1.030,4963.6
41170,40,293,-1.1,94.767,-50.8,1.030,4963.6
41171,33,112,-1.1,94.767,-50.8,1.031,4963.6
41172,31,353,-1.1,94.767,-50.8,1.031,4963.6
41173,62,329,-1.1,94.767,-50.8,1.031,4963.6
41174,62,208,-1.1,94.767,-50.8,1.031,4963.6
41175,34,180,-1.1,94.767,-50.8,1.031,4963.6
41176,38,360,-1.1,94.767,-50.8,1.031,4963.6
41177,57,124,-1.1,94.767,-50.8,1.031,4963.6
41178,62,483,-1.1,94.767,-50.8,1.031,4963.6
41179,64,151,-1.1,94.767,-50.8,1.028,4963.6
41180,36,254,-1.1,94.767,-50.8,1.028,4963.6
41181,37,281,-1.1,94.767,-50.8,1.028,4963.6
41182,29,112,-1.1,94.767,-50.8,1.028,4963.6
41183,73,334,-1.1,94.767,-50.8,1.028,4963.6
41184,46,383,-1.1,94.767,-50.8,1.028,4963.6
41185,56,189,-1.1,94.767,-50.8,1.028,4963.6
41186,44,442,-1.1,94.767,-50.8,1.028,4963.6
41187,74,239,-1.1,94.767,-50.8,1.028,4963.6

In [107]:
#df[df.contact=='telephone']
# Converting Data Types of Columns
c=pd.DataFrame()
for col in df:
    if ((df[col].dtype=='float64') | (df[col].dtype=='int64')):
        d=pd.DataFrame.add(c,df[col])
d  
        

      
    #if(df[col].isnumeric()): 
        
            
               
    #df[df.col.apply(lambda x: x.isnumeric())]
    #df[col].str.isnumeric()
    #if(==isnumeric())
    #df[col]=df[col].astype(float)

#df['age']=df['age'].astype(float)
#df['duration']=df['duration'].astype(float)
#df.duration.value_counts()
#df.education.value_counts()

Empty DataFrame
Columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]
Index: []

[0 rows x 41188 columns]

In [11]:
df.isnull().sum()

age               0
job               0
marital           0
education         0
default           0
housing           0
loan              0
contact           0
month             0
day_of_week       0
duration          0
campaign          0
pdays             0
previous          0
poutcome          0
emp.var.rate      0
cons.price.idx    0
cons.conf.idx     0
euribor3m         0
nr.employed       0
y                 0
dtype: int64

In [27]:
df.apply(le.fit_transform)
df.dtypes

age               float64
job                object
marital            object
education          object
default            object
housing            object
loan               object
contact            object
month              object
day_of_week        object
duration           object
campaign           object
pdays              object
previous           object
poutcome           object
emp.var.rate       object
cons.price.idx     object
cons.conf.idx      object
euribor3m          object
nr.employed        object
y                  object
dtype: object

In [100]:
for i in df:
    le=LabelEncoder()
    #print(i)
    df[i]=le.fit(df[i])
df

TypeError: '>' not supported between instances of 'LabelEncoder' and 'LabelEncoder'

In [ ]:
list=[3,4,9,6,76,12,43,41,0,3,5,11,22,78]
sum=0
for i in list:
    sum=sum+i
    mean=sum/len(list)
list.sort()
med_idx=(len(list)+1)/2
if((len(list))%2==0):
    median=(list[

[0, 3, 3, 4, 5, 6, 9, 11, 12, 22, 41, 43, 76]

11