In [7]:
import pandas as pd
import numpy as np
csv=pd.read_csv('C:\\Users\\hari1\\OneDrive\\Datasets\\CSV\\bollywood.csv')
bollywood=pd.DataFrame(csv)

In [8]:
bollywood.head()

,Movie,Lead,Rdate,Ocollection,Wcollection,Fwcollection,Tcollection,Verdict
0,Dangal,Aamir,23-Dec-16,29.78,106.95,197.53,386.68,Super Hit
1,Wajah Tum Ho,Sharman,16-Dec-16,2.86,7.79,10.29,10.29,Flop
2,Befikre,Ranveer,09-Dec-16,10.36,34.36,48.75,59.30,Average
3,Kahaani 2,Vidya,02-Dec-16,4.25,16.97,24.26,30.56,Average
4,Dear Zindagi,Shahrukh,25-Nov-16,8.75,32.50,47.00,64.44,Hit

In [14]:
na_bollywood=bollywood.isnull().sum().sum()

3

In [32]:
bollywood['tot_col']= bollywood['Ocollection']+bollywood['Wcollection']+bollywood['Fwcollection']+bollywood['Tcollection']
#bollywood.groupby(['Movie','tot_col'], as_index=False)['Movie'].max(bollywood['tot_col'])
top_movie = bollywood.loc[bollywood['tot_col'].idxmax()].iloc[0]

In [42]:
#top_movie
bollywood['tot_col'].idxmax()

25

In [58]:
des=bollywood['tot_col'].sort_values(axis=0, ascending=False).index[1]
top_2_movie = bollywood.loc[des].iloc[0]
#top_movie = bollywood.loc[des[1]].iloc[0]

top_2_movie
#idx = bollywood.loc[].iloc[1]

'Dangal'

0